<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Right Rudder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4D827B82E8F1CA3009AA68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D827C72E8F1CA5009AA68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D827D12E8F1CA5009AA68D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
